#quiz-container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#quiz-container h2{
    text-align: center;
}

#question {
    font-size: 20px;
    margin-bottom: 20px;
}
#options {
    margin-bottom: 20px;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0px 40px; */
}

#options button {
    /* display: block; */
    width: 80%;
    padding: 15px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

#options button:hover {
    background-color: #ccc;
}
.next-btn {
    display: flex;
    justify-content: center;
}
#next-btn {
    background-color: #9f2f9f;
    color: #fff;
    padding: 12px 30px;
    width: 80%;
    border: none;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;

}

#next-btn:hover {
    background-color: #822882;
    transform: scale(1.05);
    transition: all 0.4s ease;

}